{% extends "base_page.html" %}
{% load request_extras %}
{% block title %} M2M -{% if closedReq %} Completed{%endif%}{%if delReq%} Deleted{%endif%} Requests{%endblock%}
{%block stylin %} <link rel="stylesheet" type="text/css" media="screen" href="/media/styles/requests.css" /> {% endblock %}

{% block scriptin %}
<script src="/media/scripts/requests.js"></script>

{% endblock %}

{% block externalContent %}
{% endblock %}

{% block content %}
    
<section>
<div style="text-align:center;">
<div class="error"><ul>{% for error in form.non_field_errors %}<li>{{error|escape}}</li>{%endfor%}</ul></div>
    There {{setLen|pluralize:"is,are"}} {{setLen|default:0}}
    {% if openReq %}open{% endif %}{% if closedReq %}completed{%endif%}{% if delReq %} deleted {% endif %}
    request{{setLen|pluralize}}.
</div><br />
</section>

<span class="error">{{error}}</span>


{% if displaySet %}

<div style="position:relative;"><strong>Page:
{% for number in linkPages %}{%spaceless%}
    {% if number == page %}
        {{number|default:'1'}}
    {% else %}
        {%if openReq %}<a href="{% url requests.views.open number%}">{{number}}</a>{%endif%}
        {%if closedReq%}<a href="/requests{{modifier}}/{{number}}">{{number}}</a>{%endif%} {# why won't {% url %} work for these two!? #}
        {%if delReq%}<a href="/requests{{modifier}}/{{number}}">{{number}}</a>{%endif%}
    {% endif %}
{%endspaceless%}
{% endfor %}</strong>
</div>

{% if openReq %} 
<div class="requeststop">
<table class="requestWrap">
    <thead>
        <tr><td colspan=3 style="text-align: center;">Top Requests</td></tr>
    </thead>
    <tbody>
    {% for request in toprequests %}
        <tr>
        <td style="padding-right: 5px;padding-left: 2px;">{{request.request|toHTML}}</td>
        <td style="text-align: center; padding-right: 5px;"> 
            <form class="likeform" action="" id="{{entry.CID}}" method="POST">
                        {% csrf_token %}
                        <input type=hidden name="id" value="{{entry.CID}}"/>
                        <input type=hidden name="page" value="{{page}}"/>
                        <button class="as_link" title="like this" type=" name="liker" onclick="doLike({{request.CID}})">
                            {{request.Likes}} like{{request.Likes|pluralize}}
                        </button>
                    </form>
        </td>
        <td class="actions"><a  href="{% url requests.views.complete request.CID %}">Complete</a></td>
        </tr>    
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}

<div class="chronrequests{% if openReq %} open{%endif%}">
    {% for entry in displaySet %}
    
        <table class="requestWrap">
            <tr class="requestmeta" style="">
                <td class="requestername">
                    {%if entry.server%}
                        <a href="{% url browseNet.views.deepBrowse 'H' entry.server|hid %}">\\{{entry.server}}</a>
                    {%endif%}
                    {% if entry.server and entry.name%}
                        {%if entry.name != 'Anonymous' %}
                            <strong> - {{entry.name}}</strong>
                        {%endif%}
                    {%else%}
                        {% if entry.name != 'Anonymous' and entry.name != ''%}
                            <strong>{{entry.name}}</strong>
                        {%else%}
                            Anonymous
                        {%endif%}
                    {%endif%}
                    {% if entry.completed == 1 %}
                        {% if entry.completingName != 'Anonymous' and entry.completingName != None and entry.completingName != ''%}
                            - completed by {{entry.completingName}} (<a href="{% url browseNet.views.deepBrowse 'H' entry.completingServer|hid %}">\\{% firstof entry.completingServer %}</a>)
                        {%else%}
                            - completed by <a href="{% url browseNet.views.deepBrowse 'H' entry.completingServer|hid %}">\\{{entry.completingServer}}</a>
                        {%endif%}
                    {%endif%}
                </td>
                <td align="right" class="actions">
                    {%if closedReq%}Completed: {{entry.completedTime|date:"m/d/Y"}}, Requested:{%endif%}
                    {%if delReq%}Requested:{%endif%}
                        {{entry.requestTime|date:"m/d/Y"}}
                    {%if openReq%}
                            <a  href="{% url requests.views.edit entry.CID %}">Edit</a>
                            <a  href="{% url requests.views.complete entry.CID %}">Complete</a>
                            <a href="{% url requests.views.delete entry.CID %}">Delete</a>
                    {% endif %}
                </td>
            </tr>
            <tr class="requestbody">
                <td class="commentCell" colspan="2"><p>{{entry.request|toHTML}}</p>
                {%if closedReq and entry.completerComment %}
                    <strong>{{entry.completingServer|default:"Completer"}}'s Comment:</strong><br />
                    <p>{{entry.completerComment|toHTML}}</p>
                {% endif %}
                {% if openReq or closedReq %}
                    <div class="likes">
                    {% if openReq %}
                    <form class="likeform" action="" id="{{entry.CID}}" method="POST">
                        {% csrf_token %}
                        <input type=hidden name="id" value="{{entry.CID}}"/>
                        <input type=hidden name="page" value="{{page}}"/>{%endif%}
                        <em>{{entry.Likes}} like{{entry.Likes|pluralize}}</em>{%endif%}
                        {% if openReq %}-
                        <button class="as_link" title="like this" type=" name="liker" onclick="doLike({{entry.CID}})"><strong><span>like this</span></strong></button>
                    </form>
                    
                    </div>
                        {% endif %}
                </td>
            </tr>
        </table>
    {% endfor %} 
    </div>
    
<div style="position:relative;"><strong>Page:
    {% for number in linkPages %}
        {% if number == page %}
            {{number|default:'1'}}
        {% else %}
            {%if openReq %}<a href="{% url requests.views.open number%}">{{number}}</a>{%endif%}
            {%if closedReq%}<a href="/requests{{modifier}}/{{number}}">{{number}}</a>{%endif%} {# this is bull #}
            {%if delReq%}<a href="/requests{{modifier}}/{{number}}">{{number}}</a>{%endif%} {# this is also bull #}
            
        {% endif %}
    {% endfor %}
    </strong>
    </div>
{% endif %}

{% endblock %}

{% block extraContent %}

{% if openReq %}
    <script>

    </script>
    
    <br />
    <div id="requestForm">
        <form id="requester" action='' method="POST">
            {% csrf_token %}
            
                    <div id="requestComment"><label for="id_request">Your comment/request/idea:</label><br />
                    {{form.request}}
                    </div>
                    
                    <div id="noncommentrequest">
                    <ul >
                        <li><label for="id_name" class="required">Your name:</label>
                        {{ form.name }}
                        </li>

                        <li id="requestServer">
                        <label for="id_server">Your server:</label>{{form.server}}
                        </li>

                        <li id="requestEmail"><label for="id_email">Your email:</label>
                        {{form.email}}
                        </li>
                    </ul><div id="requestSub">
                    <a id="submitrequest"><span>Submit</span></a>
                    </div></div>
                    

        </form>
        {% if form.request.errors %}
                    <div class="error">
                        {% for error in form.request.errors %}
                            {{ error|escape}}<br/>
                            {%endfor%}
                    </div>
                    {%endif%}
    </div>
{% endif %}

{% endblock %}