{%extends "base_page.html"%}
{% block title %} M2M - WTF {%endblock%}
{% block stylin %} <link rel="stylesheet" media="screen" href="/media/styles/error.css"/>{% endblock%}
{%block content%}
<h1> Well, shit.</h1>

<p>Congratulations, you have successfully bamboozled me.</p>
<p>Do you want a medal? Is that what you want? I'm just here, minding my own business, trying to help you find
the things you want; I thought we had a decent, working relationship here. But no, you go an throw this
curveball at me.</p>
<p> What am I supposed to do? I don't know what you want. I'm not a mind-reader.</p>

<br/>
<p>I can't imagine what you're going through right now. Feelings of disorientation, possibly even betrayal,
may be screeching through your soul. Something you wanted - wanted from the very depths of your being - is
not where you obviously expected to find it. That would toy with the best of humans, and you (if we're honest)
are not that.</p>

<p>Perhaps some poetry will soothe your agony?</p>
<br/>

<p class="poem">Once upon a midnight dreary, while I websurfed, weak and weary,
   Over many a strange and spurious website of 'hot chicks galore',
   While I clicked my fav'rite bookmark, suddenly there came a warning,
   And my heart was filled with mourning, mourning for my dear amour.
   "'Tis not possible," I muttered, "give me back my cheap hardcore!" 


</p>
<p class="poem">Quoth the server, <em>"404"</em>.</p>
{% endblock %}

{% block extraContent %}

{% endblock %}