{%extends "base_page.html"%}
{% block title %} M2M - WTF {%endblock%}
{% block stylin %} <link rel="stylesheet" media="screen" href="/media/styles/error.css"/>{% endblock%}
{%block content%}
<h1> Well, shit.</h1>

<p> This was not the page you were looking for. Sorry! It might have moved, or, 
honestly, we might have misplaced it; it's hard keeping track of hundreds of pages
and millions (billions? We've lost count a few times) of files.<p>

<p> We do our best, but accidents are bound to happen now and then.</p>

<p> Maybe you'll find what you want on a different page? </p>
<p class="poem">Once upon a midnight dreary, while I websurfed, weak and weary,
   Over many a strange and spurious website of 'hot chicks galore',</p>
   <p class="poem">
   While I clicked my fav'rite bookmark, suddenly there came a warning,<br/>
   And my heart was filled with mourning, mourning for my dear amour.
   <p class="poem">Tis not possible," I muttered, "give me back my cheap hardcore!" <br/>


</p>
<p class="poem">Quoth the server, <em>"404."</em></p>
{% endblock %}

{% block extraContent %}

{% endblock %}
