{% extends 'base_page.html' %}
{% load logo from search_extras %}
{% block title %} M2M - Movies {% endblock %}

{% block logohold %} {% logo movies %} {% endblock %}



{% block searchbar %}

{% include 'advancedsearch/movies/searchbar.html' %}
{% endblock %}

{% block stylin %}
<style>
.scrollable{
    position:relative;
	overflow:hidden;
	width: 100%;
    height:400px;
    max-height: 400px;
}

.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}
.items div {
	float:left;
}

</style>
{% endblock %}
{% block scriptin %}
<script>
$(function() {

	// initialize scrollable
	$(".scrollable").scrollable({circular:true,mousewheel:true}).autoscroll({autoplay:true,interval:5000});

});
</script>
{% endblock %}
{% block extraContent %}
<h2>Latest movies on the network:</h2>
<a class='prev browse left'></a>
<div id="latestmovies" class='scrollable'>
 <div class='items'>
{% for movie in latestMovies %}
{% if forloop.counter == 1 %}
<div>
{%endif%}
{% if forloop.counter == 5 or forloop.counter == 9%}
</div><div>
{% endif %}
<a href="{% url advancedsearch.views.movieDetail movie.id%}">
    <img style="margin-left: 14px;margin-top:10px;" class="splashposter" src="{{movie.poster}}" alt="{{movie}}" title="{{movie.id}}"/>
</a>
{% if forloop.last%}
</div>
{% endif %}
{% endfor %}
</div></div>
<a class='next browse right'></a>
{% endblock %}

{% block endContent %}
Is your movie not being seen? You've probably named it, or placed it, badly.<br />
Some things to note:
<ul>
    <li> Everything between {}'s will be ignored</li>
    <li> Nobody cares about the 1080p/343p/531p-ness of a file. Honestly. We can tell, because it's huge. Either put that shit between {} or do not put it.</li>
    <li> Likewise, nobody cares about whether it's HDTV or TV or bluray or DVD. These are not important, or we can tell from the file size. {} that shit.</li>
    <li> Put movies in a folder named "Movies", or they won't be crawled. Neither will files with a directory path that includes a folder named "Pornogoraphy"</li>
    <li> Strip out the torrent additions to the name. I can't account for them because there are so many and they are not uniformly placed.</li>
    <li> If you need to include the director (you don't) or the year (you might, if there are remakes), put them at the END of the filename, in "(director - year)" format.
         If you only want to include the year, just leave out the "director - " part.</li>
</ul>
{% endblock %}
