{% extends 'base_page.html' %}
{% load search_extras %}
{% block content %}
{%block title %} M2M - You done fucked up {%endblock%}
{%block searchbar %} {%endblock%}

<h1>{{host}}</h1>
{% if pset.dneproblem_set.all %}
Could not match these against external databases, but probably should have been able to:<br/><br/>
{%endif%}
<div class="tablewrap">
<table width="80%">
<thead><tr class="info"><td width="40%">Location</td><td>Filename</td></tr></thead><tbody>
{% for problem in pset.dneproblem_set.all %}
<tr class="{% cycle 'darkrow' '' %}">
<td><a href="{{problem.file|makeLink}}">{{problem.file.path}}</a></td>
<td> <strong>{{problem.file}}</strong></td>
</tr>
{% empty %}
<tr><td>No matching issues for {{host}}!</td></tr>
{% endfor %}
</tbody></table></div>
{% endblock %}

{% block extraContent %}
{% if pset.savingproblem_set.all %}
Could not save these, for some reason - probably not the server's fault.
{% endif %}
<div class="tablewrap">
<table>
{% for problem in pset.savingproblem_set.all %}
<tr class="{% cycle 'darkrow' '' %}">
<td><a href="{{problem.file|makeLink}}">{{problem.file.path}}</a></td>
<td><strong>{{problem.file}}</strong></td>
</tr>
{% empty %}
<tr><td align='center'>No saving issues for {{host}}!</td></tr>
{% endfor %}
</table>
</div>
{% endblock %}

{% block endContent %}
{% if pset.undefproblem_set.all %}
Something's wrong with these files, but I can't tell what happened:
{% endif %}
<table>
{% for problem in pset.undefproblem_set.all %}
<tr class="{% cycle 'darkrow' '' %}">
<td><a href="{{problem.file|makeLink}}">{{problem.file.path}}</a></td>
<td>{{problem.file}}</td>
</tr>
{% empty %}
<tr><td>No undefined issues for {{host}}!</td></tr>
{%endfor%}
</table>

{% endblock %}