{% extends 'base_page.html' %}
{% load search_extras %}
{% load delete from advancedsearch_extras %}
{% load problems_extras %}

{%block title %} M2M - You done fucked up {%endblock%}
{%block searchbar %} {%endblock%}

{% block content %}
<h1>{{host}}</h1>


{% for problem in pset.badfileproblem_set.all %}
    {% if forloop.first %}
These files have been marked as bad by users:        
<div class="tablewrap">
    <table width="80%">        
        <thead>
            <tr class="info">
                <td width="20%">Location</td>
                <td>Filename</td>
            </tr>
        </thead>
    {% endif %}
    {% if problem.file %}
    <tr class="{% cycle 'darkrow' '' %}">
        <td><a href="{{problem.file|makeLink}}">{{problem.file.path|lenlimit:"40"}}</a></td>
        <td><strong>{{problem.file|lenlimit:"70"}}</strong></td>
    </tr>
    {% else %}
    {# get rid of file-less problems #}
    {% delete BadFileProblem problem.id %}
    {% endif %}
    {% if forloop.last %}
    </table>
</div>
    {% endif %}
    {% empty %}
<p>No bad files known on {{host}}!</p>
{% endfor %}
    

{% for problem in pset.dneproblem_set.all %}
    {% if forloop.first %}
<br/>Could not match these against external databases, but probably should have been able to:<br/>
<div class="tablewrap">
    <table width="80%">
        <thead>
        <tr class="info">
            <td width="40%">Location</td>
            <td>Filename</td>
        </tr>
        </thead>
    {% endif %}
    
    {% if problem.file %}
    <tr class="{% cycle 'darkrow' '' %}">
        <td><a href="{{problem.file|makeLink}}">{{problem.file.path|lenlimit:"40"}}</a></td>
        <td><strong>{{problem.file|lenlimit:"70"}}</strong></td>
    </tr>
    {% else %}
    {# get rid of file-less problems #}
    {% delete DNEProblem problem.id %}
    {% endif %}
    
    {% if forloop.last %}
    </table>
</div>

    {% endif %}
    {% empty %}
    <p>No matching issues for {{host}}!</p>
{% endfor %}
{% for problem in pset.savingproblem_set.all %}
    {% if forloop.first %}
<br/>Could not save these, for some reason - probably not the server's fault.
<div class="tablewrap">
    <table>
        <thead>
        <tr class="info">
            <td width="40%">Location</td>
            <td style="max-width:60%;overflow:scroll;">Filename</td>
        </tr>
    </thead>
    {% endif %}
   {% if problem.file %}
    <tr class="{% cycle 'darkrow' '' %}">
        <td><a href="{{problem.file|makeLink}}">{{problem.file.path|lenlimit:"40"}}</a></td>
        <td><strong>{{problem.file|lenlimit:"70"}}</strong></td>
    </tr>
    {% else %}
    {# get rid of file-less problems #}
    {% delete SavingProblem problem.id %}
    {% endif %}
    {% if forloop.last %}
    </table>
</div>
    {% endif %}
    {% empty %}
    <p>No saving issues for {{host}}!</p>
{% endfor %}

{% for problem in pset.undefproblem_set.all %}
    {% if forloop.first %}
<br/>Something's wrong with these files, but I can't tell what happened:
<div class="tablewrap">
    <table>
        <thead>
        <tr class="info">
            <td width="40%">Location</td>
            <td>Filename</td>
        </tr>
    </thead>
    {% endif %}
   {% if problem.file %}
    <tr class="{% cycle 'darkrow' '' %}">
        <td><a href="{{problem.file|makeLink}}">{{problem.file.path|lenlimit:"40"}}</a></td>
        <td><strong>{{problem.file|lenlimit:"70"}}</strong></td>
    </tr>
    {% else %}
    {# get rid of file-less problems #}
    {% delete UndefProblem problem.id %}
    {% endif %}
    {% if forloop.last %}
    </table>
</div>
    {% endif %}
    {% empty %}
<p>No undefined issues for {{host}}!</p>
{%endfor%}

{% endblock %}

{% block extraContent %}

{% endblock %}