{% extends 'base_page.html' %}


{% block stylin %}
<link rel="stylesheet" type="text/css" ref="/media/styles/faq.css" />
{% endblock %}




{% block content %}
<div class="faqWrap">
<article>
		<header>
			<h1>
				What are the rules?
			</h1>
		</header>
		<div class="faqResponse">
			<p> <h2> Short Answer: </h2> </p>
			<p>
				<ol>
					<li> <h3>Don't be a jackass.</h3> </li>
					<li> <h3>Don't be a dumbass.</h3> </li>
					<li> <h3>Don't be a snitch...ass.</h3> </li>
				</ol>
			</p>
			<p> <h2> Long Answer: </h2> </p>
			<p>
				<ol>
					<li> <h3>Don't be a jackass.</h3> 
						<p> You learned about this at orientation, and <em>(surprise!)</em> it applies
						for the entirety of your Mudd career, everywhere, at all times.. Ideally you'll
						choose to apply it afterwards, too, but it applies whether you like it or not
						while you're here. And you really ought to like it, unless you're a douchebag.</p>
						<p> You're not a douchebag, are you? </p>
					</li>
					<li> <h3>Don't be a dumbass.</h3> 
						<p> Look, I'll be honest. I don't know where the files on the network come from, for
						sure, and I definitely don't want to know &#8212 deniability, etc., etc. &#8212 but
						I can certainly imagine scenarios where certain elements of the law might frown on
						the methods used.</p>
						<p> Just, be careful. Students DO get cease-and-desist letters, which the school takes
						seriously, and you need to be aware of that. Just because the Network is safe, does <strong>NOT</strong>
						mean that it is safe to behave as if the Internet-at-large is just a bigger version of it.
						Don't be fooled; M2M is family, the FBI &#8212 though another 3-character association &#8212
						is not. At least not in the cool-uncle way that M2M is.</p>
						<p> Don't be stupid. I don't want bad shit to happen to you because of careless seeding.</p>
						<p> ...Or, uh, whatever it's called.</p>
					</li>
					<li> <h3>Don't be a snitch...ass.</h3> 
						<p> Your use of the search functionality on this site implies that you do not believe its
						existence violates the honor code. If this is not the case, leave; it's in the terms of service,
						which you are required to have read before utilizing any function of this site.</p>
						<p> Likewise, utilizing the Network implies that you're okay with its existence. I can't
						make you agree to this, but Rule #1, guys; Rule #1.</p>
						<p> But the purpose of this rule is to make sure that nobody violates Rule #2 and starts posting
						all over the Internet-at-large about how great our Network is. That kind of shit <em>gets noticed</em>,
						Nancy (funwiki, I am staring daggers at you). </p>
						<p> Please, please, please, for the love of whatever you hold where God traditionally would be held,
						do not do this.</p>
						<p><strong> Rule #3: The Network does not exist, has never existed, and will never exist. Behave accordingly.</strong></p>
					</li>
				</ol>
			</p>
		</div>
    </article>
    <article>
		<header>
			<h1>
				What is "The Network"?
			</h1>
		</header>
		<div class="faqResponse">
			<p> <h2>Short Answer: </h2></p><p> A bunch of shit that you can take. </p>
			
			<p> <h2> Long Answer: </h2></p><p>
			The Network is the name given to the collective intellectual wealth comprised by Mudd's student
			run servers. It may or may not be, strictly speaking, legal, but because of the
			closed nature of Mudd's intranet, it's protected from outside scrutiny.</p>
			<p>This means that once something <em>is</em> on the Network, it's safe to grab for yourself,
			whatever it might be.</p>
			<p> <strong>Disclaimer: Rule #2</strong></p>
		</div>
    </article>
	<article>
		<header>
			<h1>
				What is M2M?
			</h1>
		</header>
		<div class="faqResponse">
			<p> <h2> Short Answer: </h2></p><p>Your lord and savior, the gateway to paradise. </p>
			
			<p> <h2> Long Answer: </h2></p><p>
			M2M is a search engine, which indexes the files hosted by the servers on the Network. You can search
			for whatever you want, and if it's publically available, and older than about 23
			hours, M2M will show you where it is. Sometimes you can directly download it from
			the search results page, you lucky late-comers you.
			</p>
		</div>
	</article>
	<article>
		<header>
			<h1>
				Who are you?
			</h1>
		</header>
		<div class="faqResponse">
			<p><h2> Short Answer: </h2></p><p>See above. </p>
			
			<p><h2> Long Answer: </h2></p><p>
			A question that, potentially, has no answer &#8212 although it seems already to have more answers
			than it knows what to do with. If you're really interested in this question, allow me to point
			you to a few excellent resources:
			<ul>
				<li> <a href="http://existentialquestions.wordpress.com/"> A community </a>of like-minded questioners</li>
				<li> <a href="http://en.wikipedia.org/wiki/Existentialism">Wikipedia</a>, which you should probably read before posting on the above</li>
				<li> <a href="http://books.google.com/books?id=jDSMMg7QmSMC&printsec=frontcover&dq=who+am+i&source=bll&ots=lPZAfOFhhy&sig=vmjaPPNdaFOvLFWT_Rk34w4YbuQ&hl=en&ei=ChK9TfiwCIiCsQP346HPBQ&sa=X&oi=book_result&ct=result&resnum=21&ved=0CLMBEOgBMBQ#v=onepage&q&f=false">
						A book</a>, for those of you who prefer lies over truth</li>
						<li> <a href="http://reallifespirituality.com/who-am-i/">Or this</a>, for those who prefer lies over still other lies</li>
				<li> <a href="http://www.psychologytoday.com/blog/shift-mind/201006/who-am-i"> In case you're not sure why you're driven to ask this</a>,
						lying awake for hours at night, with its burning implications tortuously full of uncertainty and fear</li>
			</ul>
			But seriously, my name is Hkon.
			</p>
		</div>
	</article>	
	<article>
		<header>
			<h1>
				What is a server?
			</h1>
		</header>
		<div class="faqResponse">
			<p><h2> Short Answer: </h2></p><p>A computer that has shit on it. </p>
			
			<p><h2> Long Answer: </h2></p><p>
			Okay, so, I know they say there's no such thing as a dumb question, but if you're at
			this school, and you need to ask this question, then...something might have gone wrong
			with the admission process. I'm just saying. In any event, I'm sure there is someone within
			20 feet of you who is not only able but <em>willing</em> to wax poetic about what it means to be a
			'server' on the Network.</p>
			<p>Briefly, a server is any computer that is configured to share things on the Mudd network.
			At least, that's what I will mean by 'server' anytime you see it on this site, unless specifically
			redifined elsewhere.</p>
		</div>
	</article>
	<article>
		<header>
			<h1>
				Can I run a server?
			</h1>
		</header>
		<div class="faqResponse">
			<p><h2>Short Answer: </h2></p><p> No &#8212 a server runs you. Or maybe that's just M2M.</p>
			
			<p><h2> Long Answer: </h2></p><p>
			See the <a href="{% url faq.views.servers %}">server FAQ</a> for more about
			setting up and running your own server.</p>
		</div>
	</article>
</div>
{% endblock %}

{% block extraContent %}
<div class="questionWrap">
<h1> Still got questions? </h1>
<form action="" method="POST">
{% csrf_token %}
<label for="id_question"> Hit me up. </label>
{{form.question}}
<input type=submit value="Ask M2M!"/>
</form>
</div>
{% endblock %}