{% extends 'faq/basic.html' %}

{% block content %}

<div class="faqWrap">


    <article>
		<header>
			<h1>
				Who runs servers?
			</h1>
		</header>
		<div class="faqResponse">
			<p> You do! You, being the students, as distinct from the school itself (which has its own
			servers, but with which M2M does not truck).</p>
			<p> Anybody can run a server -- your neighbors might, your friends might -- if you're not
			careful, even YOU might be running a server right now.</p>
			<p> But who, specifically, runs servers? Well, I run M2M (obviously). But a complete list of
			all the people who run servers, and which servers they run, is a bit beyond the scope of this
			site. Not to mention my interest.</p>
		</div>
    </article>
    <article>
		<header>
			<h1>
				How do I run a server?
			</h1>
		</header>
		<div class="faqResponse">
			<p> On purpose?</p>
		</div>
    </article>	
	
</div>

{% endblock %}