{% extends "base_page.html" %}
{% load blog %}
{% load comments %}

{%block title%} M2M - News {%endblock%}
{% block stylin %} <link rel="stylesheet" type="text/css" href="/media/styles/news.css" /> {% endblock %}
{%block scriptin%}
<script type="text/javascript" src="/media/scripts/news.js"></script>
{%endblock%}

{%block news%}current{%endblock%}

{%block content%}
{% if is_paginated %}
Page:
{% for pager in paginator.page_range %}
	{% if pager != page %}<a href="{% url basic.blog.views.post_list pager %}">{{pager}}</a>
	{% else %} {{pager}}
	{% endif %}
{% endfor %}
<br /><br />
{% endif %}

<div id="posts">
{% for post in object_list %}
{% if post.status == 2 %}
<div class="postWrap"><article>
    <header>
        <div class="postTitle"><h1><a href="{{post.get_absolute_url}}">{{post.title}}</a></h1></div>
        <div class="postmeta">
            <div class="postDate">
                <time datetime="{{post.publish|timeTag}}" pubdate>{{post.publish|date:"M j, Y G:i"|linebreaksbr}}</time>
            </div>
            <div class="author">{{post.author}}</div>
        </div>
    </header>
    {% if post.body|length > 5000 %}
    <h3 class="postgSlug"><a class="togglebot" id="{{post.id}}t">
        {{post.tease}}</a></h3>
    <div style="display:none;" class="postBody" id="{{post.id}}">{{post.body|formatBody}}</div>
    <div class="postHider"><a class="togglebot" id="{{post.id}}h" style="display:none;">
        close this post</a></div>
    
    {% else %}
        <div class="postBody">{{post.body|formatBody}}</div>
    {%endif%}
    {% get_comment_count for post as comment_count %}
    <div class="postCommentCount">
        <p>
            <a href="{{post.get_absolute_url}}">{{comment_count}} comment{{comment_count|pluralize}}</a>
            <!-- h{{comment_count|pluralize:"as,ave"}} been posted-->
        </p>
    </div>
</article></div>
{%endif%}
{%endfor%}
</div>
{% if is_paginated %}
Page:
{% for pager in paginator.page_range %}
    {% if pager != page %}<a href="{% url basic.blog.views.post_list pager %}">{{pager}}</a>
    {% else %} {{pager}}
    {% endif %}
{% endfor %}
{% endif %}
{%endblock%}

{%block extraContent%}

{%endblock%}

