.poem {
	font-size:1.5em;
	margin-left:auto;
	margin-right:auto;
	max-width: 500px;
	padding-left: 10px;
}

.poem:first-letter {
	font-size: 3em;
}
.poem:first-line{
	margin-top: 2em;
	padding-left: 0px;
	line-height: 1.5em;
}

.poem:first-line{
	margin-top: 2em;
	padding-left: 0px;
	line-height: 1.5em;
}

.poem:last-of-type{
	margin-right: 0;
}
.poem:last-of-type em {
	padding-left: 0px;
}
.poem:last-of-type{
	margin-right: 0;
}
.poem:last-of-type em {
	padding-left: 0px;
	font-size: 2em;
	color: red;
}