li.song {
    padding-left:2px;
}
li.song span{
    cursor:pointer;
    width: 100%;
}
li.song ul {
    background-color:white;
}
li.song:hover {
    background-color:#ccd;
    color:black;
}
li.song:hover ul {
    background-color:white;
    color:black;

}
li.song:hover ul li {
    text-decoration: none;
}

li.darkrow {
    background-color: #ccc;
}

li.lightrow {
    background-color: #E8E8E8   
}
code {
    background-color:#caf;
    padding:2px 2px 2px 2px
}

section h2 {
    text-align: center;
}

section#songs {
    margin-bottom: 15px;
}

div#aawrap {
    width: 98%;
    margin: 0 auto;
}

section#albums {
    display: inline-block;
    width: 49%;
    border-right: 3px solid rgba(0,0,0,0.15);
    border-left:  3px solid rgba(0,0,0,0.15);
}

section#artists {
    display: inline-block;
    width: 49%;
    border-left: 3px solid rgba(0,0,0,0.15);
    border-right: 3px solid rgba(0,0,0,0.15);
}