#posts{
    width: 800px;
    margin: 0 auto;
}
.postWrap{
    border-left: 1px solid;
    padding-left: 25px;
    margin-bottom: 10px;
}

div.postTitle{
    display: inline;
}

div.postTitle h1{
    font-family: Garamond;
    font-size: 30pt;
    text-indent: -20px;
}
.postmeta{
    position: relative;
    text-align: right;
        max-width: 80px;
}
.postDate{
    font-size: 9pt;
}

.author {
    font-size: 10pt;
    overflow: visible;
}

.postBody{
    padding-bottom: 15px;
}
.postCommentCount{
    float: right;
}

.detailwrap {
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

#commentContainer{
    max-width: 550px;
    font-size: 10pt;
    min-height: 200px;
}

#commentLister div.postCommentWrap:nth-child(odd){
    background-color: #ECF3FE;
}

.postCommentWrap{
    border-left: 1px solid rgba(0,0,0,.25);
    padding: 2px;
    padding-bottom: 5px;
}
.postCommentHead{
    font-size: 8pt;
}
.postComment{
    padding-left: 10px;
}

#commentForm{
    float: right;
    max-width: 400px;
}