div.chronrequests {
    width: 700px;
    margin: 0 auto;
}

div.chronrequests.open {
    width: 650px;
    margin: 0;
}

div.requeststop {
    width: 325px;
    float: right;
}

div.requeststop p {
    max-width: 200px;
}


table.requestWrap {
    border-radius: 4px;
    border: 3px solid;
    border-color: rgba(0,0,0,0.05);
    font-size:12px;
    line-height:18px;
    height:24px;
}

tr.requestmeta {

}

td.requestername {
    filter:alpha(opacity=50);
    -moz-opacity:.50;
    opacity:.50;
}

td.requestername a {
    font-weight: bold;
}

td.actions {
    filter:alpha(opacity=50);
    -moz-opacity:.50;
    opacity:.50;
    padding-right: 5px;
    text-align: right;
}

td.actions a {
    font-weight: bold;
}

td.commentCell div.likes{
    float:right;
    margin-top: -1.5em;
    filter:alpha(opacity=50);
    -moz-opacity:.50;
    opacity:.50;
}
td.commentCell p{
    margin-left:10px;
    max-width: 500px;

}

button.as_link {
    font-size: 100%
    overflow: visible;
    width:auto;
    text-align: left;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    -moz-user-select: text;
    /* Match links */
    color: #4F6696;
    text-decoration: none;
}

button.as_link:hover{
    text-decoration:underline;
    color:#000;
}

/*
  request form group  
*/

div#requestForm{
    width:auto;
    margin: 0 auto;
    height:15em;
}

#requestForm form div{

}

div#requestComment{
    display: inline-block;
    width: 400px;
    margin-bottom: 15px;
}

#requestComment textarea{
    width: 100%;
    height:100%;
}

#noncommentrequest{
    text-align: center;
    display: inline-block;
    margin-left: 5px;
}

#noncommentrequest li{
margin-top: 25px;
}
#requestName{

}

#requestServer{

}

#requestEmail{

}

#requestSub{
    text-align: center;
    margin-top: 15px;
}

a.green.button {
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px 0px;
    background-color: rgb(145, 189, 9);
    background-image: url(/media/images/super-button-overlay.png);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 13px;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 1px;
    width: auto;
    height: 24px;
}

#requestSub a span{
    padding: 4px 15px 6px;
}

a.green.button:hover {
    background-color: rgba(116, 154, 2,1);
    text-decoration: none;
}

#followTab {
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 130px;
    width: 100px;
    height: 25px;
    padding: 8px 5px;
    border: 3px solid white;
    border-bottom: none;
    border-radius: 10px 10px 0 0px;
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    background: rgba(239,91,10,.75);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    font-weight: bold;
    color: white;
}

a#tabform:hover {
    text-decoration: none;
    cursor: pointer;
}

#simpleModal {
    position: fixed;
    top: 40px;
    width: 560px;
    left: 170px;
    border: solid 1px #BBB;
    padding: 20px;
    background: white;
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
    opacity: 0.0;
    -webkit-transition: opacity 0.0s ease-out;
    z-index: 0;
}

#simpleModal.show {
    opacity: 1.0;
    z-index: 100;
    -webkit-transition-duration: 0.25s;
}

#closeSimple{

}

#closeSimple span {
    padding: 4px 15px 6px;
}