div#searchbarWrap {
    background-color: rgba(142, 186, 229, 1);
    min-height: 65px;
    padding-top: 5px;
    width: 1075px;
    margin-left: -25px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: rgba(0,0,0,0.1);
}


ul#modifiers {
    list-style-type: none;
    display: inline;
}

ul#modifiers li {
    display: inline;
}
ul#modifiers li img{

    height: 40px;
    width: 40px;
    vertical-align: middle;
    margin-bottom: 5px;
}

ul#modifiers a.active img:hover{
    -mox-box-shadow: 0 0 6px rgba(255,255,255,0.9);
    -khtml-box-shadow: 0 0 6px rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 0 6px rgba(255,255,255,0.9);
}

.disabled:hover {
    -mox-box-shadow: 0 0 0px rgba(255,255,255,0);
    -khtml-box-shadow: 0 0 0px rgba(255,255,255,0);
    -webkit-box-shadow: 0 0 0px rgba(255,255,255,0);
}

.noList {
    list-style-type: none;
}
#searchbarActual {
    height: 50px;
    display: inline;
    margin-bottom: 10px;
    margin-top: 5px;
}

#searchbarActual input[name="q"] {
    margin-left: 10px;
    margin-top: 10px;
    height: 36px;
    width: 700px;
    font-size: 15pt;
    font-family: "Lucida Sans", sans-serif;
}

#searchbarsubmit {
    background: url(../images/searchbutton.png) center no-repeat;
    color:white;
    font-weight:bold;
    height:40px;
    width: 40px;
    border-style:none;
    vertical-align: middle;
    margin-bottom: 5px;
}

#searchbarsubmit:active {
    background: url(../images/searchbutton.png) 3px no-repeat;
    border-left-style: inset;
    border-left-color: #f0f0f0;
    border-top-style: inset;
    border-top-color: #f0f0f0;
    border-right-style: inset;
    border-right-color: #f0f0f0;
    border-bottom-style: inset;
    border-bottom-color: #f0f0f0;
}

div#searchParams {
position: relative;
left:-100px;
top: -70px;
background-color: white;
padding-top: 15px;
padding-left: 5px;
visibility: hidden;
z-index: 1;
    -mox-box-shadow: 0 0 4px rgba(0,0,0,0.5) inset;
    -khtml-box-shadow: 0 0 4px rgba(0,0,0,0.5) inset;
    -webkit-box-shadow: -2px 0 1px rgba(0,0,0,0.2) inset;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-left: 1px solid;
border-top: 1px solid;
border-bottom: 1px solid;
border-color: rgba(0,0,0,0.1);
}

#searchParams div.optionheading {
    background-color:rgba(70, 130, 180,0.5);
    margin-left: -15px;
    margin-bottom: 10px;
    font-family: "Vivaldi", "Lucida Handwriting", Garamond, serif;
    font-size: 2em;
}
#searchParams select {
    display: block;
    margin-bottom: 15px;
}