.togglebot:visited{
    color:#4f6696;
    text-decoration:none;
}

.togglebot{
    color: #4f6696;
}

.togglebot:hover{
    cursor:pointer;
}

table.serverlist tbody tr td{
    padding-top: 5px;
    padding-bottom: 5px;
}
