/*
    Global tables
*/

table {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

tr td:first-child {
    padding-left: 5px;
}

tr td:last-child{
    padding-right: 5px;
}

td {
    padding-top: 2px;
    padding-bottom: 2px;
}

table div.tooltip {
    display: none;
}

thead {
    background-color: rgba(127, 157, 185, 1);
    color: white;
    font-weight: bold;
    }

thead tr td:first-child{
    padding-left: 10px;
}
thead tr td:last-child{
    padding-right: 10px;
}
    
thead a{
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(even){
    background-color: rgba(0,0,0,0.05);
}